@import 'src/styles/main';

.notification {
  font-family: $font-family-headings;
  font-size: $font-size * 1.5;
  text-align: center;
  margin-top: 10rem;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100vw;
  padding: 0;
  list-style: none;
  overflow: hidden;

  @media only screen and (max-width: 1440px) {
    height: 100vh;
  }
  @media only screen and (max-width: 1024px) {
    // height: auto;
    overflow: auto;
    margin-top: 0;
    gap: .5rem;
  }
  @media only screen and (max-width: 800px) {
    // height: auto;
  }
  @media only screen and (max-width: 600px) {
    height: 100vh;
    overflow: auto;
  }
  @media only screen and (max-width: 480px) {

  }
}
