@import 'src/styles/main';

.content {
  width: 100vw;
  width: 100vw;
  height: 89.9vh;
  overflow: hidden;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 10%, rgba(0, 0, 0, 0.85) 50%), url('../../../assets/images/bg-home.jpg');
  background-position: center;
  background-size: cover;

  h2 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-headings;
    font-size: $font-size * 2.5;
    font-weight: 100;
    color: $--light;
  }

  .gourmet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0;

    .menu {
      width: 100%;
    }

    .cart {
      width: 0;
      display: none;

      // @media screen and (max-width: 900px) {
      //   width: 25%;
      // }
    }

    @media screen and (max-width: 900px) {
      flex-direction: row;
    }
  }
}
