<div class="content" role="main">
  <section class="edit container">
    <!-- ERRORS -->
    <!-- <div *ngIf="errors$" class="error-container"> -->
      <!-- Errors: -->
      <!-- <div class="card error-card" *ngFor="let error of error"> -->
        <!-- <p class="error">{{errors$ | json}}</p> -->
      <!-- </div> -->
    <!-- </div> -->

    <h2>Edit</h2>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form">

      <div class="cta">
        <button type="submit" [disabled]="!editForm.valid" class="button">Save</button>
        <button type="button" (click)="onCancel()" class="button">Cancel</button>
      </div>

      <hr>

      <fieldset class="fieldset">

        <div class="flexbox-container basic" style="display: flex;">

          <div class="flexbox-item">
              <div class="input-container">

                <div class="input-container"><!-- name -->
                  <label class="label">
                    <input type="text" formControlName="name" class="input">
                    name
                  </label>
                  <!--
                  <div *ngIf="!name.valid && name.touched" class="error">
                    Please name your product
                  </div>
                  -->
                </div>

                <div class="input-container"><!-- image -->
                  <label class="label">
                    <input type="text" formControlName="image" #imagePath class="input">
                    imageUrl
                  </label>
                  <!--
                  <div *ngIf="!image.valid && image.touched" class="error">
                    Please enter an image address
                  </div>
                  -->
                </div>

                <div class="input-container"><!-- category -->
                  <label class="label">

                    <select name="category" id="category-select" formControlName="category" class="input">
                      <option value="">-- Select Category --</option>
                      <option value="sashimi">sashimi</option>
                      <option value="maki">maki</option>
                      <option value="uramaki">uramaki</option>
                      <option value="temaki">temaki</option>
                      <option value="nigiri">nigiri</option>
                      <option value="garnishes">garnishes</option>
                      <option value="desserts">desserts</option>
                      <option value="drinks">drinks</option>
                      <option value="soups">soups</option>
                      <option value="salads">salads</option>
                      <option value="other">other</option>
                    </select>
                    category

                  </label>
                </div>

                <div class="input-container"><!-- temperature -->
                  <label class="label">
                    <input type="text" formControlName="temperature" class="input" placeholder="hot | cold">
                    temperature
                  </label>
                  <!--
                  <div *ngIf="!temperature.valid && temperature.touched" class="error">
                    Please enter temperature value
                  </div>
                  -->
                </div>

                <div class="input-container"><!-- price -->
                  <label class="label">
                    <input type="number" formControlName="price" class="input" placeholder="hot | cold">
                    price
                  </label>
                  <!--
                  <div *ngIf="!price.valid && price.touched" class="error">
                    Please enter price value
                  </div>
                  -->
                </div>

              </div>
          </div>

          <!-- PREVIEW -->
          <div class="flexbox-item preview" style="margin-left: 20px;">
            <div class="preview">
              <img [src]="imagePath.value" width="100%" height="100%" class="img-responsive">
            </div>
          </div>

        </div>

        <!-- INGREDIENTS -->
        <div class="flexbox-container ingredients">
          <div
            formArrayName="ingredients"
            class="flexbox-container"
            style="display: flex;  flex-direction: row; flex-wrap: wrap; gap: 5px; margin-top: 5px;"
          >
            <div
              *ngFor="let ingCtlr of controls; let i = index"
              [formGroupName]="i"
              class="input-container"
              style="display: flex; gap: 5px; margin-top: 5px;"
            >
              <label>
                <input formControlName="name" type="text" placeholder="name" class="single-input">
              </label>
              <label>
                <input formControlName="amount" type="text" placeholder="amount" class="single-input">
              </label>
              <button type="button" (click)="onDeleteIngredient(i)" class="x">X</button>
              <span class="delimiter">&nbsp;</span>
            </div>
          </div>
        </div>

        <hr>

        <!-- Add functionality -->
        <div class="add">
          <button
            (click)="onAddIngredient()"
            type="button"
            class="button"
          >Add Ingredient</button>
        </div>

      </fieldset>

    </form>
  </section>
</div>
