@import 'src/styles/main';


.content {
  @include content;
  width: 100vw;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
  // margin: 82px auto 32px;

  .container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url('../../../assets/images/bg-auth.jpg');
    // background-position: center;
    // background-size: cover;

    .bg-video {
      // width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: .15;
      overflow: hidden;

      &__content {
        height: 100%;
        // width: 100%;
        object-fit: contain;
      }
    }

    .heading-holder {
      background-color: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78));
      padding: 1rem;
      text-align: center;

      .origin {
        margin: -3rem 0 15rem;
        font-family: $font-family-headings;
        font-size: $font-size * 5.5;
        font-weight: $font-weight;
        text-shadow: 10px 18px 16px rgba(255, 255, 255, 0.350);
      }

      .heading-secondary {
        margin-top: -5rem;
        font-family: $font-family-headings;
        font-size: $font-size * 2.2;
        font-weight: $font-weight;
        text-transform: uppercase;
      }
    }

    .features-holder {
      .users-count {
        margin-top: 7rem;
        font-family: $font-family-headings;
        font-size: $font-size * 2;

        .customers {
        font-size: $font-size * 0.4;

        }
        .count {
          font-size: $font-size * 1.4;

        }

      }
      .how-it-works {
        display: flex;
        align-items: space-around;
        justify-content: space-around;
        font-family: $font-family-headings;

      }
    }
  }
}
