@import "src/styles/main";

.brand {
  width: auto;
  height: 95%;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $--light;
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  cursor: pointer;

  &.active {
    width: 80%;
    height: 100%;
    background: #000;
    .logo-container {
      width: 0;
      height: 0;

    }
  }

  .logo-container {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      display: block;
      width: 100%;
      height: 100%;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }

    @media screen and (max-width: 900px) {
      width: 80px;
      height: 80px;
    }
    @media screen and (max-width: 320px) {
      display: none;
    }

  }

  .site-title {
    font-weight: 100;
    font-size: calc($font-size * 1.4);
    margin: 1rem 0 1rem 0.7rem;
  }

  @media screen and (max-width: 900px) {
    // width: 50%;
    // padding: 9px;
  }
  // @media screen and (max-width: 320px) {
  //   width: 90px;
  //   padding: 9px;
  // }

}
