<div class="row content" role="main">
  <div class="container">
    <!-- SPINNER TEST -->
    <div *ngIf="isLoading" class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <!-- ERRORS -->
    <!-- <div *ngIf="errors$" class="error-container"> -->
      <!-- Errors: -->
      <!-- <div class="card error-card" *ngFor="let error of error"> -->
        <!-- <p class="error">{{errors$}}</p> -->
        <!-- </div> -->
    <!-- </div> -->

    <div class="error-container" *ngIf="error">
      <p class="error">{{error}}</p>
    </div>

    <!-- <div class="switch-forms">
      <p class="toggle-link">
          <a class="login" routerLink="/user/signup" *ngIf="isLoginMode" (click)="onSwitchMode()">
            {{isLoginMode ? 'Switch to Signup' : 'Switch to Login'}}
          </a>
          <a class="login" routerLink="/user/login" *ngIf="!isLoginMode" (click)="onSwitchMode()">
            {{!isLoginMode ? 'Switch to Login' : 'Switch to Signup'}}
          </a>
      </p>
    </div> -->

    <div *ngIf="!isLoading" class="form-container">

      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="auth-form">

        <fieldset>

          <div class="form-group field field-icon">
            <label>
              <span>
                <i class="fas fa-user"></i>
              </span>
              <input
                type="email"
                ngModel
                name="email"
                required
                email
                class="form-control input-error"
                placeholder="email"
              >
            </label>
          </div>

          <!-- <app-errors></app-errors> -->

          <div class="form-group field field-icon">
            <label>
              <span>
                <i class="fas fa-lock"></i>
              </span>
              <input
              type="password"
              ngModel
              name="password"
              required
              minlength="6"
              class="form-control"
              placeholder="password"
              >
            </label>
          </div>

          <div class="cta">
            <button type="submit" [disabled]="!authForm.valid" class="btn btn-primary field button">
              {{ isLoginMode ? 'Login' : 'Sign Up'}}
            </button> |
            <button type="button" (click)="onSwitchMode()" class="btn btn-primary field button">
              {{ isLoginMode ? 'Switch to Signup' : 'Switch to Login'}}
            </button>
          </div>

        </fieldset>

      </form>

    </div>

    <!-- LOADER-SMALL -->
    <div *ngIf="isLoading">
      <app-loader-small></app-loader-small>
    </div>

  </div>
</div>
